*{
    padding: 0%;
    margin: 0%;
     box-sizing: border-box;
     overflow: none;
     scroll-behavior: smooth;
     
}



.nav-bar{
    background-color: #242020;
    color: #e2b808;
    height: 10vh;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
 a{
    text-decoration: none;
    justify-content: flex-end;
    color:#e2b808;
    margin: 20px;
    font-size: 25px;
}
.button1{
    
    color: black;
    background-color:  #e2b808;
    
   
}


.img img{
    width:400px;
    margin-top: 200px;
    margin-left: 200px;
    box-shadow: #e2b808 20px 10px 20px;
    border-radius: 10px;
    
}
.content{
    text-align: center;
    font-size: 50px;
     margin-top: 250px;
    margin-left: 150px; 
    color: #e2b808;
    height:100vh;

}
.container{
    display: flex;
    background-color: #242020;
    justify-content: center;
    height:100vh;
}
.nav-bar a:hover{
    text-decoration: underline;
    color:white;
}
    
    /* About */
.container1{
    height:100vh;
    background-color: #242020;
    }

.content1{
    color:#e2b808;
    font-size: 45px;
    padding-top: 300px;
    margin-left: 200px;
}    
.page2{
    display: flex;
    justify-content: space-between;
}    
.image2{
    width: 290px;
    margin-top: 20px;
} 
.image1{
    margin-top: 20px;
}

/* Education */
.container2{
    height: 100vh;
    background-color: #242020;
    display: grid;
    grid-template-rows: 70% 30%;
     
    
}

.edu{
    display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.year1{
   
    color:#e2b808;
    font-size: 2.0rem;
    line-height: 70px;
    height: fit-content;
}
.year2{
   
    color:#e2b808;
    font-size: 2.0rem;
    line-height: 70px;
    height: fit-content;
}
.year3{
   
    color:#e2b808;
    font-size: 2.0rem;
    line-height: 70px;
    height: fit-content;
}
.extrapara{
    
    color: #e2b808;
    font-size: 40px;
    margin-left: 20px;
    
}
.education_image{
    height: fit-content;
    margin-bottom: 40px;
}
.education_image{
    width: px;
    height: 200px;
    margin-top: 50px;
}

/* Skills */
.container3{
 height: 100vh;
 display:flex; 
 justify-content: space-evenly;
 align-items: center;
 text-align: center;  
background-color: #242020;

}


.skills-image{
    width:400px;
    height: 500px;
    border-radius: 10px;
}
.box{
    background-color: white;
    padding: 10px;
    box-shadow: #e2b808 8px 8px 8px
}

.box p{
   
    color:#e2b808;
    margin-top: 20px;
    font-size: 35px;
    
}
#skills{
    height: 100vh;

}

/* Contact */
.container4{
    height: 100vh;
    background-color: #242020;
    color: #e2b808;

}
.contact-image{
    height: 100px;
    width: 100px;
}

.top img{
    margin-left: 500px; 
    margin-top: 150px;
}

.home{
     margin-left: 200px;

 }
 .content-1{
    margin-left: 45%;
    font-size: 25px;
    
 }
 .content-2{
   
    margin-left: 45%;
    font-size: 25px;
 }
 .content-3{
  
    margin-left: 45%;
    font-size: 40px;
 }



 /* Learnings */
 .container5{
    height: 100vh;
    background-color: #242020; 
 }


 .container5{
    display: flex;
    align-items: center;
    justify-content: space-around;

 }
 .container5 img{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #e2b808 8px 8px 8px
 }

